/*--- Global ----*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,500,300,900);

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.no-margin {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.floar-none {
	float: none;
}

.on-grid-row 										{margin-right:auto;margin-left: auto;}
@media (min-width: 768px) and (max-width:991px) 	{.on-grid-row {width: 750px;}}
@media (min-width: 992px) and (max-width:1199px) 	{.on-grid-row {width: 970px;}}
@media (min-width: 1200px) 							{.on-grid-row {width: 1070px;}}

.on-grid-row-col1 {width:74%; float: left;}
.on-grid-row-col2 {width:24%; float: right;}
@media (max-width:991px){
	.on-grid-row-col1 {width:100%; float: left; clear: both}
	.on-grid-row-col2 {width:100%; float: left;}
}

.on-grid-row-half 									{width: 530px; height:100%; position:relative;}
.on-grid-row-half.left-half 						{padding-right:40px; padding-left: 0px;}
.on-grid-row-half.right-half 						{padding-left:40px; padding-right: 0px;}
.on-grid-row-half-content 							{margin-left:20px; margin-right:20px; margin-top:auto; margin-bottom:auto; position:absolute; top:50%; transform:translateY(-50%)}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {.on-grid-row-half {width: 485px;}}

/* Medium Devices, Desktops */
@media only screen and (max-width : 99px) {.on-grid-row-half {width: 375px;}}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {.on-grid-row-half {width: 100%; clear: both; display: inline-block; height: auto;}
	.on-grid-row-half.left-half {padding-right:0px; padding-left: 0px;}
	.on-grid-row-half.right-half {padding-left:0px; padding-right: 0px;}
	.on-grid-row-half-content {display: inline-block; margin-left:40px; margin-right:40px; margin-bottom:0px; position:relative; top:0px; transform:translateY(0%)}
}

.spacer-small {height: 30px; width: 100%;}
.spacer-large {height: 80px; width: 100%;}

@media (max-width:767px){
	.spacer-small {height: 0px; width: 100%;}
	.spacer-large {height: 0px; width: 100%;}
}

.circle-100 {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.circle-150 {
	width: 150px;
	height: 150px;
	background: red;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
}

.circle-200 {
	width: 200px;
	height: 200px;
	background: red;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

/*------------------------------------------------*/


.hero {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin-top: -60px;
	padding-bottom: 45%;
	background-size: cover;
	background-position: center;
}

.half-hero {
	position: relative;
	width: 100%;
	min-height: 350px;
	/*margin-top: -60px;*/
	background-size: cover;
	background-position: center;
}

.three-quarter-hero {
	position: relative;
	width: 100%;
	min-height: 550px;
	/*margin-top: -60px;*/
	background-size: cover;
	background-position: center;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-control.right > .glyphicon-chevron-right, .carousel-control.left > .glyphicon-chevron-left{
	background-color: red;
}

@media screen and (max-width: 767px) {
	.carousel-control.right > .glyphicon-chevron-right, .carousel-control.left > .glyphicon-chevron-left{
		height: 40px;
		width: 40px;
		padding-top: 10px;
	}

	.carousel-control .glyphicon-chevron-right {
		margin-right: 0px;
		right: 0px;
		padding-right: 10px;
	}
	.carousel-control .glyphicon-chevron-left {
		margin-left: 0px;
		left: 0px;
		padding-left: 10px;
	}
}
@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-right {
		margin-right: 0px;
		right: 0px;
		width: 60px;
		height: 60px;
		padding-top: 15px;
		padding-right: 15px;
	}
	.carousel-control .glyphicon-chevron-left {
		margin-left: 0px;
		left: 0px;
		width: 60px;
		height: 60px;
		padding-top: 15px;
		padding-left: 15px;
	}	
}

/*------------------ Navbar ----------------*/

#header-navbar {
	height: 60px;
}

#navbar-wrapper {
	margin-top: 5px;
}

.navbar {
	background: #ffffff; 
	height: 70px; 
	width:100%; 
	border-top: solid 5px #ed3d25;
}

@media(max-width:767px){
	.navbar {
		min-height: 60px;
		height: auto;
	}
}

.navbar #logo {
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	height: 50px;
	margin-top: 10px;
}

.navbar #logo-mobile {
	display: none;
}



@media(max-width:767px){
	#main-navbar {
		background-color:#ffffff; 
		margin-top:50px;
		text-align:center;
		margin-bottom: 0px;
		padding: 0px;
	}
	/*
	#main-navbar .dropdown-menu {
	text-align: right;
}
	*/

	.navbar #logo-mobile {
		background-image: url(../images/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		float: left;
		height: 60px;
		width: 200px;
		margin-top: 0px;
		display: block;
	}	

	.navbar-toggle {
		float:none; 
		right:0px; 
		position:absolute; 
		border: 1px solid #ffffff;
	}

	.dropdown, #main-navbar > li {
		border-bottom: 1px solid #cccccc;
	}

	.dropdown-menu > li {
		text-align: center;		
	}

	/*
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}
	*/

}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
	.sidebar-nav .navbar {
		border-width: 0px;
	}
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

/*------------------------------ Colour ------------------------------*/

.white-text {color: #ffffff}
.black-text {color: #000000}
.red-text {color: #ed3d25}
.light-grey-text {color: #cccccc}
.medium-grey-text {color: #737373;}
.dark-grey-text {color: #404040}

.white-background {background-color: #ffffff}
.black-background {background-color: #000000}
.light-grey-background {background-color: #cccccc}
.medium-grey-background {background-color: #737373;}
.dark-grey-background {background-color: #404040;}

.medium-grey-border {border-color: #737373;}
.dark-grey-border {border-color: #404040;}

.box-border {border: 1px solid}



/*--------------------------------------------------------------------*/


/*---------------------------- Typography ----------------------------*/

.title-0, .title-1-light {
	font-family: 'Roboto';
}

.title-1, .title-1-large, .title-1a, .title-2, .title-3 {
	font-family: 'Roboto Slab';
	line-height: 110%;
}

.title-0 	{font-size: 55px; font-weight: 200; clear: both;}
.title-1 	{font-size: 35px; font-weight: 700; clear: both;}
.title-1-large {font-size: 45px; font-weight: 700; clear: both;}
.title-1-light {font-size: 35px; font-weight: 300; line-height: 100%; clear: both;}
.title-1a 	{font-size: 28px; font-weight: 700; clear: both;}
.title-2 	{font-size: 17px; font-weight: 700;}
.body-copy 	{font-size: 16px; font-weight: 300; text-align: justify;}
#jamaica .title-1 {font-size: 55px;}

/*small desktop*/
@media (min-width:992px) and (max-width:1199px){
	.title-0 {font-size: 45px;}
	.title-1 {font-size: 30px;}
	.title-1-large {font-size: 38px;}
	.title-1-light {font-size: 30px;}	
	.title-1a {font-size: 22px;}
	.title-2 {font-size: 16px;}	
}

/*tablet*/
@media (min-width:768px) and (max-width:991px){
	.title-0 {font-size: 35px;}
	.title-1 {font-size: 25px;}
	.title-1-large {font-size: 32px;}
	.title-1-light {font-size: 28px;}
	.title-1a {font-size: 18px;}
	.title-2 {font-size: 14px;}
	.body-copy 	{font-size: 15px;}	
}

/*smart phone*/
@media (min-width: 480px) and (max-width:767px){
	.title-0 {font-size: 30px;}
	.title-1 {font-size: 25px;}
	.title-1-large {font-size: 25px;}
	.title-1-light {font-size: 25px;}
	.title-1a {font-size: 15px;}
	.title-2 {font-size: 14px;}
	.homepage-section .title-1 {font-size: 35px; width: 90%; margin-left: 5%; margin-right: 5%}
	.event-item .title-1 {font-size: 35px;}
	.blog-item .title-2 {font-size: 17px;}
	.event-item .title-1 {width: 90%}
	#blog-item-large .body-copy {display: none}
	#blog-item-large .title-1a {font-size: 17px;}
}

/*phone*/
@media (max-width:479px){ 
	.title-0 {font-size: 17px;}
	.title-1 {font-size: 25px;}
	.hero .title-1 {font-size: 13px;}
	.title-1-large {font-size: 20px;}
	.title-1-light {font-size: 23px;}
	.title-1a {font-size: 12px;}
	.title-2 {font-size: 12px;}
	.homepage-section  .title-1 {font-size: 35px; width: 90%; margin-left: 5%; margin-right: 5%}
	.event-item .title-1 {font-size: 35px;}
	.blog-item .title-2 {font-size: 17px;}
	.event-item .title-1 {width: 90%}
	#blog-item-large .body-copy {display: none}
	#blog-item-large .title-1a {font-size: 17px;}
}

.title-3 {
	font-size: 15px;
	font-weight: 700;
}

.sub-title-1, .label-text, .body-copy {
	font-family: 'Roboto';
}

.sub-title-1 {    
	font-size: 20px;
	font-weight: 100;
}

.label-text-1 {
	font-size: 15px;
	font-weight: 300;
}

.label-text-2 {
	font-size: 10px;
	font-weight: 300;
}



.code {
	font-family: "Courier New", Courier, monospace;
}


/*--------------------------------------------------------------------*/

/*--------------------- Captions, labels and overlays ----------------*/
.box-caption {
	background: rgba(0,0,0,0.4);
	width:100%; 
	position:relative; 
	bottom:0px;
}

.hero .box-caption {min-height: 30vh; background: rgba(0,0,0,0.0); position:absolute;}
.hero .caption-content {
	float: right; 
	margin-top: 20px;
	background: rgba(0,0,0,0.4);
	padding: 15px;
	overflow: hidden;
}

@media (min-width:1200px) 						{.hero .caption-content {width: 780px; height: 190px;}}
@media (min-width:992px) and (max-width:1199px) {.hero .caption-content {width: 660px; height: 170px;}}
@media (min-width:768px) and (max-width:991px) 	{.hero .caption-content {width: 555px; height: 145px;}}
@media (min-width:480px) and (max-width:767px) 	{.hero .caption-content {width: 505px; height: 125px;}}
@media (max-width:479px) 						{.hero .caption-content {width: 292px; height: 80px;}}

.hero .caption-content .date-tagline{
	float:left; 
	padding-left: 10px;
}

@media (max-width: 768px) {
	.hero .caption-content .date-tagline{
		padding-left:10px;
	}	
}

.hero .title-0 {
	position: relative;
	top: 0px;
	float: left;
	
}

.hero .title-1 {
	position: relative;
	top: 0px;
	float: left;
}


.hero .logo-white {
	background-image: url(../images/logo-white.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	top: 0px;
	border-right:solid white 2px
}

@media (min-width:1200px){
	.hero .logo-white { width: 342px; height: 164px;}
}

@media (min-width:992px) and (max-width:1199px){
	.hero .logo-white {width: 300px; height: 144px;}
}

@media (min-width:768px) and (max-width:991px){
	.hero .logo-white {width: 250px; height: 117px;}
}

@media (min-width: 480px) and (max-width:767px){
	.hero .logo-white {width: 200px; height: 94px;}
}

@media (max-width:479px){
	.hero .logo-white {width: 120px; height: 58px;}
}


/*--------------------------------------------------------------------*/

/*------------------------------- Boxes ------------------------------*/

@media (max-width:767px){
	.homepage-section, .contentpage-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.contentpage-section {
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.contentpage-section .title-1 {
	margin-bottom: 20px;
}


/* Blog Block */

#blog-posts {
	background:#f9ac1c; 
	background-image:url('../images/white_cage.png'); 
	background-repeat:no-repeat; 
	background-position: right bottom
}

#blog-more-circle {	
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, 45%);
	border: 5px solid #ffffff;
	background: #d38d1e;
}

#blog-more-circle span {
	position: absolute;
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}

@media (max-width:767px) {
	#blog-more-circle {
		position: relative;
		transform: translate(-50%, 0%);
		margin-bottom: 20px;
		margin-top: 30px;
	}
}

.blog-item 												{border: solid 4px white;}
.blog-item .box-caption 								{height: 100px; padding:15px;}
#blog-item-large .box-caption							{height: 172px; padding:20px;}
.blog-item-image 										{height: 180px; border-bottom:solid 2px white; background-size:cover;}
#blog-item-large .blog-item-image 						{height: 426px;}



/* Events Block */

#event-posts 											{background:#51bd9e; background-image:url('../images/white_cage.png'); background-repeat:no-repeat; background-position: left bottom;}

.event-item 											{height:180px; width:100%; border:solid 4px white;}	
#jamaica												{height:390px;}

#jamaica.event-item 									{background: #00a9af;} a:hover #jamaica.event-item 	{background: #00a9af; background: -moz-linear-gradient(top, #00a9af 0%, #00858a 100%); background: -webkit-linear-gradient(top, #00a9af 0%,#00858a 100%); background: linear-gradient(to bottom, #00a9af 0%,#00858a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9af', endColorstr='#00858a',GradientType=0 );}
#cuba.event-item 										{background: #faad1c;} a:hover #cuba.event-item 	{background: #faad1c; background: -moz-linear-gradient(top, #faad1c 0%, #c48816 100%); background: -webkit-linear-gradient(top, #faad1c 0%,#c48816 100%); background: linear-gradient(to bottom, #faad1c 0%,#c48816 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faad1c', endColorstr='#c48816',GradientType=0 );}
#curacao.event-item 									{background: #ede848;} a:hover #curacao.event-item 	{background: #ede848; background: -moz-linear-gradient(top, #ede848 0%, #bfbb3a 100%); background: -webkit-linear-gradient(top, #ede848 0%,#bfbb3a 100%); background: linear-gradient(to bottom, #ede848 0%,#bfbb3a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede848', endColorstr='#bfbb3a',GradientType=0 );}
#stlucia.event-item 									{background: #75bec9;} a:hover #stlucia.event-item 	{background: #75bec9; background: -moz-linear-gradient(top, #75bec9 0%, #588e96 100%); background: -webkit-linear-gradient(top, #75bec9 0%,#588e96 100%); background: linear-gradient(to bottom, #75bec9 0%,#588e96 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bec9', endColorstr='#588e96',GradientType=0 );}
#domrep.event-item 										{background: #f16a46;} a:hover #domrep.event-item 	{background: #f16a46; background: -moz-linear-gradient(top, #f16a46 0%, #bd5337 100%); background: -webkit-linear-gradient(top, #f16a46 0%,#bd5337 100%); background: linear-gradient(to bottom, #f16a46 0%,#bd5337 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16a46', endColorstr='#bd5337',GradientType=0 );}
#stkitts.event-item 									{background: #79d1b6;} a:hover #stkitts.event-item 	{background: #79d1b6; background: -moz-linear-gradient(top, #79d1b6 0%, #5ca18b 100%); background: -webkit-linear-gradient(top, #79d1b6 0%,#5ca18b 100%); background: linear-gradient(to bottom, #79d1b6 0%,#5ca18b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79d1b6', endColorstr='#5ca18b',GradientType=0 );}

.event-item .event-item-details							{width:210px; height:58px; border: 3px solid #ffffff; position:absolute; right:30px; top:15px; opacity: 0.6}
#jamaica .event-item-details 							{width:320px; height:85px; border: 3px solid #ffffff; position:absolute; right:30px; top:15px; opacity: 0.5}

a:hover .event-item .event-item-details					{opacity: 1}
a:hover #jamaica .event-item-details 					{opacity: 1}

.event-item-details-text-large-confernce				{float:left; clear:both; font-family: 'Roboto'; font-weight:500; font-size:35px; margin-left:10px; margin-top:8px; line-height:100%;}
.event-item-details-text-large-hackathon				{float:left; clear:both; font-family: 'Roboto'; font-weight:500; font-size:35px; margin-left:10px; margin-top:0px; line-height:80%;}
.event-item-details-text								{float:left; clear:both; font-family: 'Roboto'; font-weight:500; font-size:25px; margin-left:10px; margin-top:10px;}

.event-item-details-day-month 							{float:right; border-left: solid 3px #ffffff; height:100%; padding-left: 10px; padding-right:10px;}
														 
.event-item-details-text-large-month 					{clear:both; font-family: 'Roboto'; font-weight:200; font-size:20px; text-align:center; line-height:50%; margin-top: 10px;}
.event-item-details-text-large-day 						{clear:both; font-family: 'Roboto Slab'; font-weight:600; font-size:40px;}

.event-item-details-text-month 							{clear:both; font-family: 'Roboto'; font-weight:300; font-size:15px; text-align:center; line-height:50%; margin-top: 10px;}
.event-item-details-text-day 							{clear:both; font-family: 'Roboto Slab'; font-weight:600; font-size:25px;}


.event-item .title-1 									{position: absolute; bottom: 20px; right: 10%; width: 80%; margin-left: 10%; text-align: right}
#jamaica .title-1 										{right: 5%;}



/* Affirmation Block */

#affirmation {
	height: 800px;
	background:#ffffff; 
	background-image:url('../images/blue_cage.png'); 
	background-repeat:no-repeat; 
	background-position: left bottom;
}

@media (max-width:767px){
	#affirmation {height: auto;}
}

/*tablet*/
@media (min-width:768px) and (max-width:991px){
	.blog-item-image 					{height: 159px}
	#blog-item-large .blog-item-image 	{height: 354px}
	#blog-item-large .box-caption		{height: 202px;}
}

/*phones & smart phones*/
@media (max-width:767px){
	.blog-item, .event-item, #jamaica							{width:90%; height: 45vw; 
										 						 margin-top:20px; margin-left:5%; margin-right: 5%; 
										 						 display: inline-block; overflow: hidden;}
	.blog-item-image 											{width: 50%; height: 45vw; float: left; border-bottom: 0px; border-right: 2px solid #ffffff}
	#blog-item-large .blog-item-image 							{width: 50%; height: 45vw}
	.blog-item .box-caption, #blog-item-large .box-caption 		{width: 50%; height: 45vw; float: right}
	.event-item 												{position: relative}
	.event-item .title-1 										{position: absolute; bottom: 10px; right: 10px; text-align: right; margin-top: 50%}
}

#speaker-posts 											{background:#75bec9; background-image:url('../images/white_cage.png'); background-repeat:no-repeat; background-position: left bottom;}}


#event-posts 											{background:#51bd9e; background-image:url('../images/white_cage.png'); background-repeat:no-repeat; background-position: left bottom;}


/* Sponsors Block */
#sponsors 						{background-image:url('../images/geometric-bg.jpg'); background-repeat:no-repeat; background-size: cover;}
#sponsor-title .title-1 		{float: right;}
#sponsor-logos 					{height:100%; margin-top: 50px}
.sponsor-logo 					{width:220px; margin:10px; display:inline-block}


@media (max-width:767px) {
	#sponsors 				{background-position: center;}
	#sponsor-title .title-1 {float: left;  width: 100%}
	#sponsor-logos > div {width:410px; margin-left: auto; margin-right: auto; display: block;}
	.sponsor-logo 			{width:180px; margin:10px; display:inline-block; }
	
}
@media (max-width:480px) {
	#sponsor-logos > div {width:210px; }
}
@media (min-width: 768px) and (max-width:991px) {
	.sponsor-logo 			{width:145px; margin:10px; display:inline-block}
}
@media (min-width: 992px) and (max-width:1199px){
	.sponsor-logo 			{width:190px; margin:10px; display:inline-block}
}

#country-description {margin-bottom: 50px;}
#country-sponsors {width: 100%; border: solid 4px #b3b3b3; margin-bottom: 40px}
.country-details-box {padding:10px; background:#808080; border:4px solid #4d4d4d; margin-bottom: 20px;}
#org-info.country-details-box {padding:10px; background:#ffffff; border:4px solid #4d4d4d; margin-bottom: 20px;}
#org-info .body-copy {margin-bottom: 10px}
.country-org-logo {width: 100%; background: #ffffff; padding: 5px; margin-bottom: 20px}

@media (min-width:480px) and (max-width:991px){
	#event-info.country-details-box {width: 49%; float: left; margin-right: 1%;}
	#org-info.country-details-box 	{width: 49%; float: right; margin-left: 1%;}
}
@media (max-width:479px){
	#event-info.country-details-box {width: 100%; float: none; margin-right: 0%;}
	#org-info.country-details-box 	{width: 100%; float: none; margin-left: 0%;}
}