<div class="item">
	<a href="https://www.eventbrite.com/e/developing-the-caribbean-conference-and-codesprint-tickets-24791090820" target="_blank">
		<div id="carousel-item1" class="hero" class="col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(images/carousel_home_2.jpg);">
			<div class="box-caption">
				<!--  Hero  -->
				<div class="row on-grid-row">
					<div class="col-sm-12 col-sm-12 col-lg-12">
						<div class="caption-content">
							<span class="logo-white"></span>
							<div class="date-tagline">
								<span class="title-0 white-text">
									May 5th &amp; 6th<br>
								</span>
								<br>
								<span class="title-1 white-text">
									Towards A Caribbean<br>
									Data Revolution
								</span>
							</div>
						</div>
					</div>
				</div>
				<!--  Hero  -->  
			</div>
		</div>
	</a>
</div>
<div class="item">
	<a href="https://www.eventbrite.com/e/developing-the-caribbean-conference-and-codesprint-tickets-24791090820" target="_blank">
		<div id="carousel-item1" class="hero" class="col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(images/carousel_home_3.jpg);">
			<div class="box-caption">
				<!--  Hero  -->
				<div class="row on-grid-row">
					<div class="col-sm-12 col-sm-12 col-lg-12">
						<div class="caption-content">
							<span class="logo-white"></span>
							<div class="date-tagline">
								<span class="title-0 white-text">
									May 5th &amp; 6th<br>
								</span>
								<br>
								<span class="title-1 white-text">
									Towards A Caribbean<br>
									Data Revolution
								</span>
							</div>
						</div>
					</div>
				</div>
				<!--  Hero  -->  
			</div>
		</div>
	</a>
</div>
<div class="item">
	<a href="https://www.eventbrite.com/e/developing-the-caribbean-conference-and-codesprint-tickets-24791090820" target="_blank">
		<div id="carousel-item1" class="hero" class="col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(images/sponsor.jpg);">
			<div class="box-caption">
				<!--  Hero  -->
				<div class="row on-grid-row">
					<div class="col-sm-12 col-sm-12 col-lg-12">
						<div class="caption-content">
							<span class="logo-white"></span>
							<div class="date-tagline">
								<span class="title-0 white-text">
									May 5th &amp; 6th<br>
								</span>
								<br>
								<span class="title-1 white-text">
									Towards A Caribbean<br>
									Data Revolution
								</span>
							</div>
						</div>
					</div>
				</div>
				<!--  Hero  -->  
			</div>
		</div>
	</a>
</div>																									
